#header {
    margin-left: auto;
    margin-right: auto;
}
#frame {
    border-collapse:separate;
    border-spacing:100px 30px;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    padding: 5px;
    border: 1px solid#ccc;
    text-align: center;
    vertical-align: top;
}
th {
    background: #eee;
}
.youbi_0 {
    color: red;
}
.youbi_6 {
    color: blue;
}
.holidayId {
    position: absolute;
    border-radius: 10px;
    z-index: 10;
    visibility: hidden;
    background-color:#fbff96;
}
.holi {
    color : red;
    border-radius:10px;
}